<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="d-flex container-fluid">
        <a href="/" class="navbar-brand me-3">PokeDex</a>
        <% if (loggedIn) {%>
            <a href="/pokemon/captured" class="nav-link text-warning me-5">Hello <%= username %></a>
        <% } %>
        <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNav" class="collapse navbar-collapse">
            <% if (loggedIn) {%>
                <div class="d-flex mx-auto justify-content-center"">
                <a href="/pokemon/all" class="nav-link text-light ms-5 me-5">All Pokemon</a>
                <a href="/pokemon/captured" class="nav-link text-light">My Pokemon</a>
                </div>
                <a href="/users/logout" class="nav-link text-light me-3 ms-auto">Log Out</a>
            <%} else {%>
                <a href="/pokemon/all" class="nav-link text-light me-3 mx-auto">All Pokemon</a>
                <div class="ms-auto">
                <a href="/users/signup" class="nav-link text-light me-3">Sign Up</a>
                <a href="/users/login" class="nav-link text-light me-3">Log In</a>
                </div>
            <% } %>
        </div>
    </div>
</nav>