
body {
    /* background-color: whitesmoke; */
    background-image: url("pokemon3.webp");
    background-image: cover;
    background-repeat: no-repeat;
}

.jumbotron {
    background-color: whitesmoke;
    border-radius: 10px;
}
