
body {
    background-color: whitesmoke
    /* background-image: url("poke-background-4.jpeg");
    background-size: 100%; */
}

.logInBox {
    margin-top: 200px;
}

.name-title {
    text-transform: uppercase;
}

.cap{
    text-transform: capitalize;
}

.show-image {
    width: 20%;
    margin: 0;
    padding: 0;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.my-pokemon {
    margin-top: 20px;
}

.card{
    box-shadow: 5px 5px 5px gainsboro;
}

.card:hover{
    box-shadow: 5px 5px 5px gainsboro;
    transform:scale(1.1);
}

table tr td, table tr th{
    background-color: rgba(245,245,245, 0.3) !important;
}